<div class=gpawtop>
<a href={{ pathto('genindex') }}>index</a>
| <a href={{ pathto('py-modindex') }}>modules</a>
| <a href=https://gitlab.com/gpaw/gpaw>gitlab</a>
{% if sourcename %}
| <a href="https://gitlab.com/gpaw/gpaw/blob/master/doc/{{ sourcename[:-4] }}">page source</a>
{% endif %}
</div>